
/* page font */
body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
}

/* paragraphs */
p {
  color: #0000FF;
}
#first {
  font-style: italic;
}

/* initial letters */
strong {
  background-color: #ddf; 
  color: #FF0000;
  font: 200% serif;
}

.spinach {
  color: #228B22;
  background-color: #ddf;
}

p:before {content: url("Yellow-pin.png");}

body {counter-reset: newnum;}

h3 {
	border-top: 1px solid gray;
	padding-top: 5px;
}
/* numbered paragraphs */
h3.numbered {counter-reset: mynum;}
h3:before {
	counter-increment: newnum;
	content: "(" counter(newnum, upper-alpha) ") ";
}

ul {border: 5px solid #3AB8D1;}

li {
  list-style: lower-roman;
  margin-bottom: 8px;
  }
 
p.numbered:before {
  content: counter(mynum) ": ";
  counter-increment: mynum;
  font-weight: bold;
}

#fixed-pin {
  position:fixed;
  top: 2px;
  right: 15px;

}


#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  caption-side: bottom;
  text-align: right;
  border-top: .2em solid #4ca;
  margin-top: .5em;
}

/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}

#demo-table tbody td {
  border: 1px solid green;
}

/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}

#demo-table tfoot td {
  border: 1px solid blue;
}


